# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
/braintree-server
.pnp.js
/severSide



# testing
/coverage

# production
/build
/heroku-server


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/testApiCalls
npm-debug.log*
yarn-debug.log*
yarn-error.log*
