.btn-custom-1 {
    border:1px solid #3a7bd5 !important;
    color: white !important;
    background-color:#3a7bd5
}

.btn-custom-1:hover {
    background-color: transparent!important;
    color:#3a7bd5!important;
}

.color-0A9FF2 {
    color:#3a7bd5 !important;
}


