.btn-custom-3 {
    background-color:transparent !important;
    color:#3a7bd5 !important;
    border-color:#3a7bd5;
}

.btn-custom-3:hover {
    background-color: #3a7bd5 !important;
    color:white !important;
}

.btns-change-order {
    position: absolute;
    top:50%;
    right:5px;
    transform: translate(0,-50%)
}

.remove-caret::after { content: none !important }


