*{
    box-sizing: border-box !important;
}

.padding-1 {
    padding:80px 70px;
}

.padding-2 {
    padding:20px 40px;
}

.bg-gradient-1 {
    background: rgb(58,123,213);
background: linear-gradient(90deg, rgba(58,123,213,1) 0%, rgba(58,96,115,1) 100%);
}

.bg-color-white {
    background-color:white;
}

.toast {
    z-index:999999 !important;
}



.modal-dialog {
    z-index:9 !important;
}

.modal-content {
    z-index: 9 !important;
}
