.btn-custom-4 {
    border-color: rgb(58,123,213) !important;;
    background-color:white !important;
    color:rgb(58,123,213) !important;
    padding: 20px 30px !important;
}

.btn-custom-4:hover {
    border-color: rgb(58,123,213) !important;;
    background-color:rgb(58,123,213) !important;
    color:white !important;
}