.header-custom-1 {
    border: 1px solid #3a7bd5; 
    color: #3a7bd5; 
    border-radius:4px;
    padding:5px;
}

.inbox{
    background-color:rgb(255, 217, 0);
    padding:2px;
    border-radius:50%;
    width:20px;
    height:20px;
    color:black !important;
    position: absolute;
    top:100%;
    left:100%;
    transform: translate(-100%, -20%);
    text-align: center;
    display:none;
}

.dropdown-menu {
    max-width: 300px !important;
    overflow-y: hidden !important;
    overflow-x: visible !important;
}

.dropdown-item {
    max-width: 300px !important;
    font-size: 14px !important;
    
}

.btn-open-close {
    position: absolute !important;
    top:50% !important;
    right:2px !important;
    transform: translate(0,-50%) !important;
}

.flex-container {
    display:flex;
    justify-content: center
}

.btn-custom-skill {
    padding:2px !important;
}

.project-status {
    background-color:#3a7bd5;
    padding: 4px;
    border-radius:4px;
    color:white !important;
    font-weight: 500;
}


