.contract-item {
    padding:1.5em;
    border-radius:4px;
    border:1px solid lightgray;
    transition:0.3s;
    cursor: pointer;
    transition:0.3s;
}

.contract-item:hover {
    border: 1px solid rgb(58,123,213);
    box-shadow:0 5px 5px 0 rgba(0,0,0,0.2)
}